!!!
%html
  %head
    %title Optimissurround
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    - if user_signed_in?
      = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"
      = javascript_include_tag "http://cdn.oesmith.co.uk/morris-0.4.3.min.js"
      = javascript_include_tag "http://mbostock.github.com/d3/d3.js?1.29.1" 
    = csrf_meta_tags
  %body
    .container
      .sixteen.columns
        %p.notice= notice
        %p.alert= alert
        - if user_signed_in?
          .seven.columns.clearfix
            %div= link_to "Log-Out", destroy_user_session_path, method: :delete, class: 'full-width button two columns'
            %div= link_to "Home", root_path, class: 'full-width button two columns'
            %div= link_to "Data-View", data_path, class: 'full-width button two columns'
          .six.columns.clearfix 
            = form_tag(suggestions_path, remote:true, id: 'suggestions') do
              = text_area_tag 'message', nil, placeholder: 'Suggestions? ' + " (#{current_user.email})", class: 'six columns'
              = submit_tag 'Send', class: 'two columns'
        .row.clearfix
          %br
        .row.clearfix
          = yield
          - if !user_signed_in?  
            .sixteen.columns.clearfix
              =link_to "Sign-In for Usuage Visualizations", new_user_session_path, class: 'full-width button'
    
    / HRTF's used for the binarual prcessing are those recorded and provided by:
    / Bill Gardner billg@media.mit.edu and Keith Martin kdm@media.mit.edu
    / http://sound.media.mit.edu/resources/KEMAR.html
    / 
